body{
    margin: 10px 30px;
    font-size: small;
    background-color:aliceblue;
    justify-content: center;
}
.game-title{
    display: flex;
    margin: 20px 2px 10px 20px;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-size: 25px;
    text-align: center;
}
.question-header{
    display: none
}
.progress{
    display: none;
    margin:10px 25px;
}
form{
    margin: 10px 30px;
    
}
.game-content{
    display: none;
}
.new-question{
    display: none;
    margin-top: 20px
}

.scoreboard{
    margin: 20px auto;
    font-family: 'Press Start 2P', cursive;
    opacity: 0;
    display: grid;
    width: 80%;
    text-align: center;
    border-width: 1px;
    border-style: hidden;
    
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas:
    "one two five"
    "three four six";
}
.player-names{
    border-style: solid;
    border-width: 2px;

}
.scores{
    border-style: solid;
    border-width: 2px;

}
.player1-name{
    grid-area: one;
    border-width: 2px;
    border-style: solid;
}
.player2-name{
    grid-area: three;
    border-style: solid;
    border-width: 2px;
}
.player1-score{
    border-style: solid;
    border-width: 2px;
    grid-area: two;
}
.player2-score{
    border-style: solid;
    border-width: 2px;
    grid-area: four;
}
.plus{
    color:red;
    display: flex;
    flex-flow: column;
    justify-content: center;    

}
.p1Plus{
    height:50%;
    grid-area: 5;
    opacity: 0;
    display: flex;
    margin: auto 0;
    border-radius: 10px;
    align-items:center;
}
.p2Plus{
    height: 50%;
    line-height: 100%;
    grid-area: 6;
    opacity: 0;
    display: flex;
    margin: auto 0;
    border-radius: 10px;
    align-items:center;
}
.ans{
    font-size: smaller;
    word-wrap: normal;
    width: 300px;
    white-space:normal;
    margin: 5px;
    font-weight: bolder;
}
.start{
    display:none;
    margin: 10px auto;
    
}
@media(min-width: 481px) {
    form{margin: 10px 30%}
    .progress{margin: 10px 30%}
    .scoreboard{width: 400px}
    .game-content{
        font-size:18px;
        width: 900px;
        margin:0 auto}
    .ans{width:400px}
    .game-title{
        font-size: 40px;
        margin-top: 50px;
    }
}
