.question-header{
    display: none
}
.progress{
    margin:10px 25px;
}
.game-content{
    display: none
}
.new-question{
    display: none
}

.scoreboard{
   display: none
}
.ans{
    font-size: smaller;
}

